anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
brotlipy
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
docopt
entrypoints
executing
fastjsonschema
filelock
fonttools
fsspec
huggingface-hub
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib
jsonschema
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
num2words
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pywin32
pywinpty
PyYAML
pyzmq
regex
requests
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
soupsieve
stack-data
sympy
terminado
threadpoolctl
tinycss2
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wcwidth
webencodings
websocket-client
win-inet-pton
zipp
